.header{
  background: rgb(42, 226, 33);
}
.image-gallery{
  background-color: rgb(215, 209, 209);
  border: 2px dashed rgb(132, 132, 135);
}
.main-image{
  background-color: rgb(215, 209, 209);
  width: 600px;
  height: auto;
  
}
.main-image img{
  width: 100%;
}
.other-images{
  background-color: rgb(215, 209, 209);
  width: 600px;
  height: auto;
  border-top: 2px dashed rgb(132, 132, 135);
  
}
.img1{
  width: 200px;
}
.img1 img{
  width: 100%;
}
.content-details{
  border: 1px solid black;
}
