.logo img{
  width: 40%;
}
.socail-icons svg{
  opacity: 1;
  transition: opacity 0.75s ease 0s;
}
.socail-icons svg:hover{
  opacity: 0.6;
}

.wrapper-footer{
  background: rgb(69,114,41);
  background: linear-gradient(180deg, rgba(69,114,41,1) 35%, rgba(70,115,41,0.23573179271708689) 83%);
}
.footer-content{
  background: rgba(255, 255, 255, 0.816);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.84);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}